@media only screen and (max-width: 991px) {
	/*-- Footer --*/
	.footer-logo {
		text-align:center;
	}

	.footer-nav {
		text-align:center;
	}

	.footer-nav li {
		margin-top: 10px;
	}

	.footer-social {
		text-align:center;
	}

	.footer-social li {
		margin-top: 10px;
	}

	.footer-copyright {
		text-align:center;
		line-height:inherit;
		margin-top:20px;
	}

	/*-- Contact page --*/
	.contact-form  {
		margin-bottom:40px;
	}

	.contact-form button {
		float:none !important;
	}

	#main {
		margin-bottom:80px;
	}
}

@media only screen and (max-width: 767px) {
	/*-- Hero area --*/
	.hero-area h1 {
		font-size:30px;
	}

	/* -- Breadcrumb -- */
	.hero-area-tree li {
		font-size:12px;
	}

	/*-- Pagination --*/
	.post-pagination .pages {
		display:none;
	}
}

@media only screen and (max-width: 480px) {
	/*-- Blog Comments --*/
	.blog-comments .media .media {
		margin-left:0px;
	}
	
	/*-- Blog Reply Form --*/
	.blog-reply-form .input.name-input , .blog-reply-form .input.email-input {
		width: 100%;
		float:none;
	}
	
	.blog-reply-form .input.email-input {
		margin-left: 0px;
	}
}